<div clas="container">
<h2>Create New Data Point</h2>
  <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !location.valid }">
        <label for="location">POI Location Name</label>
        <input type="text" class="form-control" name="location" [(ngModel)]="model.location" #location="ngModel" required />
        <div *ngIf="f.submitted && !location.valid" class="help-block">Location Name is required</div>
    </div>
    <a [routerLink]="['/poilocation']" class="btn btn-link">Add new POI Location</a>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !date.valid }">
        <label>Date</label>
        <input type="date" class="form-control" name="date" [(ngModel)]="model.date" #date="ngModel" required />
        <div *ngIf="f.submitted && !date.valid" class="help-block">Date is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !time.valid }">
        <label>Time</label>
        <input type="time" class="form-control" name="time" [(ngModel)]="model.time" #time="ngModel" required />
        <div *ngIf="f.submitted && !time.valid" class="help-block">Time is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted }">
        <label>Data Type</label>
        <select for="dataType" name="dataType" [(ngModel)]="model.dataType" required>
            <option *ngFor="let type of types" [ngValue]="dataType">{{type}}</option>
        </select>
        <div *ngIf="f.submitted && !dataType == ''" class="help-block">Data Type is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !value.valid }">
        <label for="value">Data Value</label>
        <input type="number" class="form-control" name="value" [(ngModel)]="model.value" #value="ngModel" required />
        <div *ngIf="f.submitted && !value.valid" class="help-block">Data Value is required</div>
    </div>
    <div class="form-group">
        <button [routerLink]="['/home']" class="btn btn-danger">Cancel</button>
        <button [disabled]="loading" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>