<div clas="container">
<h2>Create New Data Point</h2>
  <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm">
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && location == '' }">
        <label>POI Location</label>
        <select for="location" name="location" [(ngModel)]="model.location" required>
            <option *ngFor="let l of locations | async" [ngValue]="l.LocationName">{{l.LocationName}}</option>
        </select>
        <a [routerLink]="['/poilocation']" class="btn btn-link">Add new POI Location</a>
        <div *ngIf="f.submitted && location == ''" class="help-block">Location is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !date.valid }">
        <label>Date</label>
        <input type="date" class="form-control" name="date" [(ngModel)]="model.date" #date="ngModel" required />
        <div *ngIf="f.submitted && !date.valid" class="help-block">Date is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !time.valid }">
        <label>Time</label>
        <input type="time" class="form-control" name="time" [(ngModel)]="model.time" #time="ngModel" required />
        <div *ngIf="f.submitted && !time.valid" class="help-block">Time is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && dataType == '' }">
        <label>Data Type</label>
        <select for="dataType" name="dataType" [(ngModel)]="model.dataType" required>
            <option *ngFor="let type of types | async" [ngValue]="type.Type">{{type.Type}}</option>
        </select>
        <div *ngIf="f.submitted && dataType == ''" class="help-block">Data Type is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !value.valid }">
        <label for="value">Data Value</label>
        <input type="number" class="form-control" name="value" [(ngModel)]="model.value" #value="ngModel" required />
        <div *ngIf="f.submitted && !value.valid" class="help-block">Data Value is required</div>
    </div>
    <div class="form-group">
        <button [routerLink]="['/home']" type="button" class="btn btn-danger">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
