<div class="container">
  <h2>Pending Data Points</h2>

  <table class="table">
    <thead>
      <tr>
        <th (click)="changeSorting('LocationName')">POI Location <span [class]="selectedClass('LocationName')"></span></th>
        <th (click)="changeSorting('Type')">Data Type <span [class]="selectedClass('Type')"></span></th>
        <th (click)="changeSorting('DataValue')">Data Value <span [class]="selectedClass('DataValue')"></span></th>
        <th (click)="changeSorting('DateStamp')">Date and Time of Reading <span [class]="selectedClass('DateStamp')"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let point of pointsArray | orderBy : sorting()">
        <td>{{ point.LocationName }}</td>
        <td>{{ point.Type }}</td>
        <td>{{ point.DataValue }}</td>
        <td>{{ point.DateStamp | date:'medium' }}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="accept(point)">Accept</button>
          <button type="button" class="btn btn-danger" (click)="reject(point)">Reject</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button [routerLink]="['/home']" class="btn btn-danger">Back</button>

</div>
