<div class="container">
  <h2>Pending Data Points</h2>

  <table class="table">
    <thead>
      <tr>
        <th>POI Location</th>
        <th>Data Type</th>
        <th>Data Value</th>
        <th>Date and Time of Reading</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let point of points | async">
        <td>{{ point.location }}</td>
        <td>{{ point.type }}</td>
        <td>{{ point.value }}</td>
        <td>{{ point.datetime }}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="accept(point)">Accept</button>
          <button type="button" class="btn btn-danger" (click)="reject(point)">Reject</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <button [routerLink]="['/home']" class="btn btn-danger">Back</button>

</div>
