<nav class="navbar navbar-inverse navbar-fixed-top" *ngIf="showNavBar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a [routerLink]="['']" class="navbar-brand">CS 4400</a>
      </div>
      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a *ngIf="this.userType == 'City Scientist'" [routerLink]="['/datapoint']">Add Data Point</a></li>
            <li><a *ngIf="this.userType == 'City Scientist'" [routerLink]="['/poilocation']">Add Location</a></li>
            <li><a *ngIf="this.userType == 'City Official'" [routerLink]="['/viewpois']">Filter/Search POI</a></li>
            <li><a *ngIf="this.userType == 'City Official'" [routerLink]="['/poidetail']">POI Detail</a></li>
            <li><a *ngIf="this.userType == 'City Official'" [routerLink]="['/poireport']">Filter/Search POI</a></li>
            <li><a *ngIf="this.userType == 'Administrator'" [routerLink]="['/pendingdatapoints']">Pending Data Points</a></li>
            <li><a *ngIf="this.userType == 'Administrator'" [routerLink]="['/pendingaccounts']">Pending Accounts</a></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
</nav>