<div clas="container">
  <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <div class="form-group">
        <label>POI Location</label>
        <select for="location" name="location" [(ngModel)]="model.location">
            <option *ngFor="let l of locations | async" [ngValue]="l.LocationName">{{l.LocationName}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>City</label>
        <select for="city" name="city" [(ngModel)]="model.city">
            <option *ngFor="let city of cities | async" [ngValue]="city.City">{{city.City}}</option>
        </select>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !zipcode.valid }">
        <label for="zipcode">Zip Code</label>
        <input type="text" class="form-control" name="zipcode" [(ngModel)]="model.zipcode" #zipcode="ngModel" [pattern]="validation" />
        <div *ngIf="f.submitted && !zipcode.valid" class="help-block">Zip Code must be a 5 digit number</div>
    </div>
    <div class="form-group">
        <label for="flagged">Flagged</label>
        <input type="checkbox" class="form-control" name="flagged" [(ngModel)]="model.flagged" #flagged="ngModel" />
    </div>
    <div class="form-group">
        <label>Date From</label>
        <input type="date" class="form-control" name="date" [(ngModel)]="model.dateFrom" #date="ngModel" />
    </div>
    <div class="form-group">
        <label>Date To</label>
        <input type="date" class="form-control" name="date" [(ngModel)]="model.dateTo" #date="ngModel"/>
    </div>
    <div class="form-group">
        <button [disabled]="loading" type="submit" class="btn btn-primary">Apply Filter</button>
    </div>
  </form>
<button (click)="clear()" class="btn btn-danger">Clear Filter</button>


  <table class="table" *ngIf="displayTable">
    <thead>
      <tr>
        <th>POI Location</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Flagged</th>
        <th>Date Flagged</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let poi of pois | async">
        <td>{{ poi.LocationName }}</td>
        <td>{{ poi.City }}</td>
        <td>{{ poi.State }}</td>
        <td>{{ poi.ZipCode }}</td>
        <td>{{ poi.Flag }}</td>
        <td>{{ poi.DateFlagged | date: 'medium' }}</td>
        <td><a [routerLink]="['/poidetail', poi.LocationName]">View Details</a></td>
      </tr>
    </tbody>
  </table>

</div>
