<div clas="container">
  <h2>POI Detail for {{ model.location }}</h2>
  <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <div class="form-group">
        <label>Data Type</label>
        <select for="dataType" name="dataType" [(ngModel)]="model.dataType">
            <option *ngFor="let type of types | async" [ngValue]="type.Type">{{type.Type}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="valueFrom">Data Value From</label>
        <input type="number" class="form-control" name="valueFrom" [(ngModel)]="model.valueFrom" #valueFrom="ngModel" />
    </div>
    <div class="form-group">
        <label for="valueTo">Data Value To</label>
        <input type="number" class="form-control" name="valueTo" [(ngModel)]="model.valueTo" #valueTo="ngModel" />
    </div>
    <div class="form-group">
        <label>Date From</label>
        <input type="date" class="form-control" name="date" [(ngModel)]="model.dateFrom" #date="ngModel" />
    </div>
    <div class="form-group">
        <label>Date To</label>
        <input type="date" class="form-control" name="date" [(ngModel)]="model.dateTo" #date="ngModel"/>
    </div>
    <div class="form-group">
        <button [disabled]="loading" type="submit" class="btn btn-primary">Apply Filter</button>
    </div>
  </form>
  <button (click)="clear()" class="btn btn-danger">Clear Filter</button>

  <table class="table" *ngIf="displayTable">
    <thead>
      <tr>
        <th>Data Type</th>
        <th>Data Value</th>
        <th>Date and Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let point of points | async">
        <td>{{ point.Type }}</td>
        <td>{{ point.DataValue }}</td>
        <td>{{ point.DateStamp | date: 'medium' }}</td>
      </tr>
    </tbody>
  </table>

</div>