<div class="container">
  <button *ngIf="this.userType == 'City Scientist'" [routerLink]="['/datapoint']" class="btn btn-primary">Add a Data Point</button>
  <button *ngIf="this.userType == 'City Scientist'" [routerLink]="['/poilocation']" class="btn btn-primary">Add a POI Location</button>

  <button *ngIf="this.userType == 'Administrator'" [routerLink]="['/pendingdatapoints']" class="btn btn-primary">Pending Data Points</button>
  <button *ngIf="this.userType == 'Administrator'" [routerLink]="['/pendingaccounts']" class="btn btn-primary">Pending City Official Accounts</button>

  <button *ngIf="this.userType == 'City Official' && !accepted" [routerLink]="['/viewpois']" class="btn btn-primary">Filter/Search POI</button>
  <button *ngIf="this.userType == 'City Official' && !accepted" [routerLink]="['/poidetail']" class="btn btn-primary">POI Report</button>
  <p *ngIf="this.userType == 'City Official' && !accepted">Your account hasn't been approved</p>
</div>