<div class="container">
    <h2>CS 4400</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" [pattern]="emailPattern" #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required in 'example@email.com'</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confPassword.valid }">
            <label for="confPassword">Confirm Password</label>
            <input type="password" class="form-control" name="confPassword" [(ngModel)]="model.confPassword" #confPassword="ngModel" required />
            <div *ngIf="f.submitted && !confPassword.valid" class="help-block">Confirm Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confPassword.valid }">
            <label>User Type</label>
            <select for="userType" name="userType" [(ngModel)]="model.userType" required>
                <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
            </select>
            <div *ngIf="f.submitted && userType == ''" class="help-block">User Type is required</div>
        </div>
        
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted }" *ngIf="this.model.userType == 'City Official'">
            <label>City</label>
            <select for="city" name="city" [(ngModel)]="model.city" required>
                <option *ngFor="let city of cities | async" [ngValue]="city.City">{{city.City}}</option>
            </select>
            <div *ngIf="f.submitted && this.model.userType == 'City Official' && city == ''" class="help-block">City is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted }" *ngIf="this.model.userType == 'City Official'">
            <label>State</label>
            <select for="state" name="state" [(ngModel)]="model.state" required>
                <option *ngFor="let state of states | async" [ngValue]="state.State">{{state.State}}</option>
            </select>
            <div *ngIf="f.submitted && this.model.userType == 'City Official' && state == ''" class="help-block">State is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted }" *ngIf="this.model.userType == 'City Official'">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required />
            <div *ngIf="f.submitted && !title.valid" class="help-block">Title is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>



